html {
	overflow-x: hidden;
	overflow-y: scroll;
	}
body{
	background:#ffffff;
	color:#7e7e7e;
	font-family:Tahoma, Geneva, sans-serif;
	
	font-size:14px;
}
a,a:hover{
	color:#7e7e7e;
	text-decoration:none;
}
a:hover,a:focus{
	text-decoration:underline;
	outline:none;
}
h3{
	font-size:23px;
	color:#232323;
	padding-left:10px;
	clear:both;
}
h4{
	font-size:18px;
	color:#5a5a5a;
	padding-bottom:25px;
	padding-left:10px;
	clear:both;
}
#wrap{
	width:1000px;
	margin:0 auto;
}
#error{
		padding-top:130px;
		padding-left:240px;
}
#masthead{}
	#masthead h1{
		margin-top:25px;
		margin-left:20px;
		width:219px;
		height:48px;
		overflow:hidden;
	}	
		#masthead h1 a,
		#masthead h1 a:hover{
			width:219px;
			height:48px;
			display:block;
			text-decoration:none;
			overflow:hidden;
			background:url(../img/logo.png) no-repeat left top;
		}
			#masthead h1 a span,
			#masthead h1 a:hover span{
				position:absolute;
				left:-9998989px;
			}
		#masthead h1.admin a,
		#masthead h1.admin a:hover{
			width:219px;
			height:48px;
			display:block;
			text-decoration:none;
			overflow:hidden;
			background:url(../img/logo_admin.png) no-repeat left top;
		}			
	#masthead .loginbox{
		text-align:right;
		width:246px;
		padding-top:10px;
	}	
		#masthead .loginbox p{
			padding-right:25px;
		}
		#masthead .loginbox div{
			text-align:left;	
		}
		#masthead .loginbox .first-of-type{		
			margin-bottom:7px;
		}
		#masthead .loginbox input{
			width:138px;
			border:1px solid #c0c0c0;
			height:16px;
			overflow:hidden;
		}
		#masthead .loginbox input.check{
			width:auto;
			height:auto;
			border:none;
			background:transparent;
			vertical-align:middle;
		}
		#masthead .loginbox .submit{
			width:auto;
			height:auto;
			border:none;
			background:transparent;
			vertical-align:middle;
			margin-left:72px;
		}
		#masthead .loginbox label{
			font-size:10px;
			color:#707070;
			display:inline-block;
			text-align:right;
			line-height:18px;
			width:70px;
			padding-right:5px;
		}
		#masthead .loginbox span{
			font-size:10px;
			color:#707070;
			display:inline-block;
			text-align:right;
			line-height:18px;
			padding-right:5px;
			color:red;
		}
		#masthead .loginbox a{
			color:#9c9c9c;
			font-size:10px;
			text-decoration:underline;
		}		
		#masthead .loginbox a:hover{
			color:#000000;
		}
#mastmenu{
	margin-top:7px;
	clear:both;
	float:left;
	width:100%;
	margin-bottom:10px;
}
	#mastmenu .inner{
		float:left;
		margin-left:13px;
	}
	#mastmenu ul{
		float:left;
		margin-right:13px;
	}
	#mastmenu li{
		float:left;
		margin-top:1px;
		margin-bottom:3px;
		border-right:1px solid #e0e0e0;
	}
	#mastmenu a,
	#mastmenu a:hover{
		display:block;
		line-height:29px;
		padding:0px 20px;
		font-size:14px;
		text-decoration:none;
		color:#2e2e2e;
		background:transparent;
	}
	#mastmenu a:hover{
		color:#2e2e2e;
		background:#CCCCCC;
	}
#mastcontent{}
	#mastcontent .content{
		
	}
	#mastcontent .sidebar{
		
		width:300px;
	}
.secmenu{
	padding-top:8px;
	margin-bottom:20px;
}
	.secmenu ul{
		padding-bottom:21px;		
	}
	.secmenu .top,
	.secmenu .first-of-type{
		padding:0px 11px;
	}
		.secmenu .first-of-type span{
			font-size:20px;
			color:#e33700;	
			padding-left:5px;
			padding-top:11px;
			padding-bottom:7px;
			display:block;
			border-bottom:1px solid #cccccc;
		}
div.products{
	float:left;
	width:672px;
	margin: 0;
    padding: 0;
}
.products{
	float:left;
	width:700px;
	margin: 0;
    padding: 0;
}
	.products li{
		display: block;
        float: left;
        width: 336px;
	}
	.products h4{
		display:block;
		padding:10px 0px 0px 10px;
		margin-bottom:5px;
		font-size:18px;
		color:#f63d00;
		font:18px Tahoma,sans-serif;
	}
	.products input{
		margin:0;
		padding:0;
		border:none;
		background:#e0e0e0;
		color:#7E7E7E;
		font:14px Tahoma,sans-serif;
	}
	.products a.button{
		border:none;
		background:#e0e0e0;
		color:#7E7E7E;
	}
	.products h4 input{
		color:#f63d00;
		font:18px Tahoma,sans-serif;
	}
		.products h4 a,
		.products h4 a:hover{
			color:#f63d00;
			text-decoration:underline;
		}
	.products .right{
			margin-bottom:30px;
			float:left;
			width:700px;
	}	
		.products .right .division{
			display:table-cell;
			height:60px;
			vertical-align:bottom;
		}		
		.products .right .bold{
			font-weight:bold;
			margin-right:10px;
		}
		.products .right table{
			border:none;
			width:100%;
			float:left;
			padding-left:30px;
		}		
		.products .right table td{
			text-align:left;
			vertical-align:top;
			padding-bottom:15px;
			font:14px Tahoma,sans-serif;
		}		
		.products .right table td.first{
			text-align:right;
			vertical-align:top;
			padding-bottom:15px;
			width:150px;
		}		
		.products .right li{
			width:100%;
			float:left;
			padding-bottom:5px;
			padding-left:30px;
		}
			.products .right li a{
				text-decoration:underline;
			}			
			.products .right li a:hover{
				color:#000;
			}		

		.special-offers li a:hover{
			color:#000;
		}

#mastfooter{
	margin-top:21px;
	clear:both;	
	background:#7E7E7E;
	float:left;
	width:100%;
	margin-bottom:10px;
}
	#mastfooter .inner{
		background:#7E7E7E;
		float:left;
		width:100%;		
	}
	#mastfooter .content{
		background:#7E7E7E;
		margin:0px 20px;
		float:left;
		width:938px;

	}
	#mastfooter h1{
		margin-top:12px;
		margin-left:1px;
		width:182px;
		height:40px;
		overflow:hidden;
	}	
		#mastfooter h1 a,
		#mastfooter h1 a:hover{
			width:182px;
			height:40px;
			display:block;
			text-decoration:none;
			overflow:hidden;
			background:url(../img/logo_footer.png) no-repeat left top;
		}
			#mastfooter h1 a span,
			#mastfooter h1 a:hover span{
				position:absolute;
				left:-9998989px;
			}
	#mastfooter ul{
		clear:both;
	}		
	#mastfooter li{
		color:#cccccc;
		float:left;
		padding-right:9px;
	}	
		#mastfooter li a{
			color:#cccccc;
			margin-left:10px;
		}
		#mastfooter li a:hover{
			color:#ffffff;
		}	
		
	#mastfooter .main{
		font-size:14px;
		color:#606060;
		margin-top:16px;
		float:right;
	}
	#mastfooter .secondary{
		color:#8e8e8e;
		font-size:10px;
		float:right;
		margin-top:6px;
		margin-bottom:10px;
	}
		#mastfooter .main a:hover{
			color:#ffffff;
			margin-left:10px;			
		}
/* Category Menu */

#prod_nav {
	position: relative;
	z-index: 300;
}
	#prod_nav a,
	#prod_nav a:hover{
		border-bottom:1px solid #cccccc;
		display:block;
		/*line-height:29px;*/
		color:#565656;
		text-decoration:none;
		font-size:14px;
		padding-left:8px;
		padding-top:6px;
		padding-bottom:6px;
		background:none;
	}
	#prod_nav li:hover a,
	#prod_nav a:hover{
		background:#FF6633;
		color:#FFF;
	}
	#prod_nav a.selected{
		color:#FF6633;
	}

.left{
	float:left;
}
.right{
	float:right;
}

.twocols {
	display: inline-block;
	clear:both;	
}