.tender-new-form {
	background: #CCCCCC;
	width: 500px;
	display: none;
}

.tender-edit-form {
	display: none;
}

.division-new-form {
	background: #CCCCCC;
	width: 500px;
	display: none;
}

.division-edit-form {
	display: none;
}